/*.screen-2 .product-union .products {
	width: 100%;
}
.screen-2 .product-union .products .product {
	width: 25%;
}
#test, #buy-popup {
	background-color: #040208e6;
}*/

.strobing-maning .sm-1 .go-test{
	width: 258px;
    height: 143px;
    background: url(../images/buy-3e02603af0.png) top no-repeat;
}

.strobing-maning .sm-1 .go-test:hover{
	background: url(../images/buy-3e02603af0_hover.png) top no-repeat;
}

.screen-1 .s1__two-col .s1__tc-2 .go-test{
	width: 360px;
	height: 200px;
    background: url(../images/buy-big-505e68bb51.png) top no-repeat;
}

.screen-1 .s1__two-col .s1__tc-2 .go-test:hover{
    background: url(../images/buy-big-505e68bb51_hover.png) top no-repeat;
}

@media all and (max-width: 1279px){
	.screen-1 .s1__two-col .s1__tc-2 .go-test{
		width: 252px;
		height: 139px;
    	background: url(../images/buy-big-745a7c0a71.png) top no-repeat;
	}
	.screen-1 .s1__two-col .s1__tc-2 .go-test:hover{
    	background: url(../images/buy-big-745a7c0a71_hover.png) top no-repeat;
	}
}

.go-front {
	margin: 0 auto 0 auto;
    width: 278px;
    height: 189px;
    background: url(../images/main_from_tutors-29fcd2d413.png) center top no-repeat;
}

.go-front:hover{
    background: url(../images/main_from_tutors-29fcd2d413_hover.png) center top no-repeat;
}

.go-front a{
	display: block;
    width: 100%;
    height: 100%;
    text-shadow: 2.3px -2px 3px rgba(0,0,0,.64);
    color: #fff;
    font-family: Intro;
    font-size: 0;
    text-indent: -9999px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a{
    outline: 0;
    -webkit-tap-highlight-color: transparent;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:hover{
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a::selection {
    background-color: transparent; /* Safari */
    outline: 0;
    -webkit-tap-highlight-color: transparent;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a::-moz-selection {
    background-color: transparent; /* Firefox */
    outline: 0;
    -webkit-tap-highlight-color: transparent;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.screen-3 .video .see-all:hover{
    background: url(../images/see-all-081db1e550_hover.png) top no-repeat;
}

.screen-1 .s1__two-col .s1__tc-1 .tc1-block2 a:hover{
    background: url(../images/s1-new/tc1-block2-10c2d12914_hover.png) 0 no-repeat;
}

@media all and (max-width: 1279px){
    .screen-1 .s1__two-col .s1__tc-1 .tc1-block2 a:hover{
        /*background-size: cover;*/
        background: url(../images/s1-new/mobile/tc1-block2_hover.png) 0 no-repeat;
    }
}

.screen-1 .s1__two-col .s1__tc-1 .tc1-block2 a,
.screen-1 .s1__two-col .s1__tc-2 .go-test,
.strobing-maning .sm-1 .go-test,
.screen-3 .video .see-all,
.go-front{
    transition: all 0.3s linear;
}

.after-video {
    text-align: left;
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 0;
}

.after-video .av__title{
    font-family: Open Sans,sans-serif;
    font-size: 24px;
    color: #a48c68;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.after-video .av__body{
    font-family: Open Sans,sans-serif;
    font-size: 20px;
    color: white;
}

#test .next-template .n__qbtn.last-q{
    background: url(../images/n__qbtn_result.png);
    width: 288px;
    height: 220px;
}

#test .next-template .n__qbtn.last-q span{
    display: none;
}

body.page-video .video-screen .video_bulbs{
    height: 661px;
    background: url(../images/video/bgr_1.png) center top no-repeat;
    background-size: initial;
}

@media all and (max-width: 940px){
    body.page-video .video-screen .video_bulbs{
        top: 766px;
    }
    body.page-video .video-screen .video_glow-red{
        top: 787px;
    }
}

@media all and (max-width: 1279px){
    #test .question-template .qt__q,
    #test .question-template .qt__variant-answers>*,
    #test .next-template .n__res1 span,
    #buy-popup .bp__links>*{
        font-size: 28px;
    }
}

@media all and (min-width: 1280px){
    .screen-1>.s1__container{
        min-height: 947px;
    }
    .screen-1 .s1__bg-woman{
        bottom: 0px;
    }
    .screen-2{
        margin-top: -97px;
    }
}

#login-popup {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 708px;
    background-color: #040208;
    box-shadow: 0 0 81px hsla(35,92%,85%,.22);
    text-align: center;
}
#login-popup{
    display: none;
    top: 0;
    width: 100%;
}
#login-popup.active {
    display: block;
}
.link {
    color: #a68c69;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.62px;
}
.ias-trigger {
    margin: 20px auto;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    text-align: center;
=======
>>>>>>> 995554c770831f0e091e73c725ae1de76edc8ec9
=======
>>>>>>> b285b09ab09a217f33846cd93e3fcaa4dd1bf6db
=======
>>>>>>> b285b09ab09a217f33846cd93e3fcaa4dd1bf6db
=======
>>>>>>> b285b09ab09a217f33846cd93e3fcaa4dd1bf6db
}