@media all and (max-width: 1279px) {
  /* line 2, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .gallery-his-turn {
    padding-top: 20px;
  }
}
/* line 5, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .ght__title {
  font-weight: 400;
  color: white;
  font-family: "Intro";
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.8px;
  margin-bottom: 8px;
}
/* line 15, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .ght__subtitle {
  font-weight: 400;
  color: #a48c68;
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.9px;
}
/* line 24, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting {
  margin-top: 42px;
  margin-bottom: 49px;
}
/* line 27, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 48px;
}
/* line 33, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .sorting {
  display: flex;
  flex-direction: row;
}
/* line 36, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .sorting .sort-param {
  margin-right: 26px;
}
/* line 38, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .sorting .sort-param a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #a68c69;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  width: 149px;
  height: 46px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  letter-spacing: 0.6px;
}
/* line 51, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .sorting .sort-param a:hover {
  background-color: #040404;
  border: 1px solid #3e3e3e;
  box-shadow: 0 0 49px rgba(252, 223, 181, 0.2);
}
/* line 59, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .sorting .sort-param.active a,
.gallery-his-turn .view-voting .view-filter .sorting .sort-param:hover a {
  background-color: #040404;
  border: 1px solid #3e3e3e;
  box-shadow: 0 0 49px rgba(252, 223, 181, 0.2);
}
/* line 67, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .upload-file {
  padding-left: 22px;
  padding-bottom: 5px;
}
/* line 71, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .upload-file form #main-upload,
.gallery-his-turn .view-voting .view-filter .upload-file form input[type="submit"] {
  display: none;
}
/* line 75, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-filter .upload-file form label {
  color: #a68c69;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 0.62px;
}
/* line 89, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32px;
}
/* line 95, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row {
  width: 253px;
  position: relative;
  text-align: center;
  margin-bottom: 75px;
}
/* line 100, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-points-label {
  position: absolute;
  top: -1px;
  left: -12px;
  background: url('/frontend/web/images/new-index/ghs__point-label.png') no-repeat;
  width: 98px;
  height: 79px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 17px 0 0 19px;
  letter-spacing: 2.9px;
}
/* line 115, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-image {
  margin-bottom: 25px;
}
/* line 121, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-name {
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.875;
  letter-spacing: 1.2px;
}
/* line 129, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-points {
  color: #a68b6d;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 1.1px;
}
/* line 136, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-shape {
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.7px;
  margin-bottom: 5px;
}
/* line 145, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .view-voting .view-content .view-row .field-vote a {
  color: #a68b6d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px dotted #a68b6d;
  letter-spacing: 0.9px;
  cursor: pointer;
}
/* line 162, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .see-all {
  text-align: center;
  width: 278px;
  height: 189px;
  background: url('/frontend/web/images/see-all-081db1e550.png') top no-repeat;
  position: relative;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 171, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .see-all a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: 2.3px -2px 3px rgba(0, 0, 0, 0.64);
  color: #fff;
  font-family: Intro;
  font-size: 0;
  text-indent: -9999px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 184, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.gallery-his-turn .see-all:hover {
  background: url(/frontend/web/images/see-all-081db1e550_hover.png) top no-repeat;
}
/* line 191, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region {
  background-color: black;
  position: relative;
}
@media all and (max-width: 1279px) {
  /* line 194, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region {
    margin-top: 7px;
    background-color: transparent;
  }
}
/* line 198, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region > .sr__container {
  min-height: 81px;
  padding-right: 0px;
}
@media all and (min-width: 1280px) {
  /* line 201, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region > .sr__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media all and (max-width: 1279px) {
  /* line 205, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region > .sr__container {
    height: initial;
    min-height: initial;
  }
}
/* line 210, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps {
  display: flex;
  flex-direction: row;
  height: 100%;
}
@media all and (max-width: 1279px) {
  /* line 214, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region .steps {
    flex-direction: column;
  }
}
/* line 217, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% / 3);
}
@media all and (max-width: 1279px) {
  /* line 222, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region .steps .step {
    width: 100%;
  }
  /* line 224, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region .steps .step:not(:last-child) {
    margin-bottom: 52px;
  }
}
/* line 228, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step .s-number {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("/frontend/web/images/new-index/gold-lacquer.png") no-repeat;
  width: 72px;
  height: 43px;
  padding: 0 15px 9px 0;
  margin: 0 11px 0 0;
}
/* line 243, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step .s-body {
  color: white;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.35;
}
@media all and (min-width: 1280px) {
  /* line 252, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .step-region .steps .step .s-body {
    width: calc(100% - 83px);
  }
}
/* line 255, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step .s-body a {
  color: #a68c69;
  text-decoration: underline;
}
/* line 260, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step .vk {
  display: inline-block;
  width: 22px;
  height: 14px;
  background: url("/frontend/web/images/new-index/vk.png") top center no-repeat;
  position: relative;
  top: 5px;
}
/* line 268, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.step-region .steps .step .insta {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/frontend/web/images/new-index/insta.png") top center no-repeat;
  position: relative;
  top: 3px;
  margin-left: 2px;
}
@media all and (max-width: 1279px) {
  /* line 284, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 {
    padding-bottom: 10px;
  }
}
/* line 287, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 > .s1__container {
  min-height: 769px;
}
@media all and (min-width: 1280px) {
  /* line 292, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__bg-woman {
    bottom: -97px;
    left: 31px;
  }
}
@media all and (max-width: 1279px) {
  /* line 296, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__bg-woman {
    bottom: auto;
    top: 396px;
  }
}
/* line 302, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col {
  margin-top: 42px;
}
@media all and (max-width: 1279px) {
  /* line 305, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-1 {
    margin-top: 37px;
  }
}
/* line 309, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-1 .tc1-block1 a {
  background: url("/frontend/web/images/new-index/tc1-block1.png") center top no-repeat;
  width: 292px;
  height: 115px;
}
@media all and (min-width: 1280px) {
  /* line 316, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-1 .tc1-block2 {
    margin-top: -12px;
    left: -25px;
  }
}
@media all and (max-width: 1279px) {
  /* line 324, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-2 {
    margin-top: 17px;
  }
}
/* line 327, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .tc2-block1 {
  margin-right: 1px;
}
/* line 329, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .tc2-block1 a {
  background: url("/frontend/web/images/new-index/tc2-block1.png") center top no-repeat;
  width: 287px;
  height: 170px;
}
@media all and (max-width: 1279px) {
  /* line 333, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .tc2-block1 a {
    background: url("/frontend/web/images/new-index/mobile/tc2-block1.png") center top no-repeat;
    width: 226px;
    height: 200px;
  }
}
/* line 340, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .go-participate {
  position: relative;
  text-align: center;
  margin-top: -9px;
  left: 75px;
  width: 400px;
  height: 306px;
  background: url("/frontend/web/images/new-index/particip_large.png") top center no-repeat;
  transition: all 0.3s linear;
}
/* line 349, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .go-participate:hover {
  background: url("/frontend/web/images/new-index/particip_large_hover.png") top center no-repeat;
}
@media all and (max-width: 1279px) {
  /* line 352, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .go-participate {
    width: 271px;
    height: 184px;
    margin-top: -4px;
    left: -24px;
    background: url("/frontend/web/images/new-index/mobile/participate.png") top center no-repeat;
  }
  /* line 358, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .go-participate:hover {
    background: url("/frontend/web/images/new-index/mobile/participate_hover.png") top center no-repeat;
  }
}
/* line 362, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-1 .s1__two-col .s1__tc-2 .go-participate a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: 2.3px -2px 3px rgba(0, 0, 0, 0.64);
  color: #fff;
  font-family: Intro;
  font-size: 0;
  text-indent: -9999px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 382, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage {
  padding: 55px 0 0 0;
}
/* line 387, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__title {
  font-weight: 400;
  color: white;
  font-family: "Intro";
  font-size: 48px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 7px;
  line-height: 1;
}
/* line 397, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__subtitle {
  font-weight: 400;
  color: #a48c68;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
}
/* line 406, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__full-reg {
  margin-bottom: 54px;
}
/* line 408, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__full-reg a {
  display: block;
  font-weight: 400;
  color: #a48c68;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 0.8px;
}
/* line 418, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media all and (max-width: 1279px) {
  /* line 423, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .stage .st__blocks {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
/* line 428, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block {
  width: 542px;
  position: relative;
}
@media all and (max-width: 1279px) {
  /* line 431, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .stage .st__blocks .st__block {
    margin-bottom: 53px;
  }
}
/* line 434, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-img {
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 437, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-img img {
  opacity: 0;
  max-width: 100%;
}
/* line 442, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-play {
  position: absolute;
  left: 48px;
  bottom: 140px;
  cursor: pointer;
}
/* line 448, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-tit-wrap {
  position: absolute;
  left: 51px;
  bottom: 50px;
}
/* line 453, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-title {
  color: white;
  font-weight: 400;
  font-size: 15px;
}
/* line 458, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__blocks .st__block .stb-subtitle {
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin-top: -2px;
}
/* line 468, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .stage .st__see-all-tutor a {
  display: block;
  color: #a48c68;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 3px;
}
/* line 483, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-2 {
  margin-top: 0px;
}
@media all and (min-width: 1280px) {
  /* line 485, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-front .screen-2 {
    background: url('/frontend/web/images/new-index/s2-bg.png') bottom 69px center / 100% 299px no-repeat;
  }
}
/* line 488, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-2 .s2__zasvet {
  display: none;
}
/* line 491, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-2 > .s2__container {
  padding-top: 115px;
}
/* line 496, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup {
  display: none;
  background-color: #040208;
  box-shadow: 0 0 81px rgba(252, 223, 181, 0.22);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1110px;
  min-height: 1895px;
  z-index: 5;
}
/* line 508, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup.active {
  display: block;
}
/* line 511, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .sp__close {
  position: absolute;
  top: 44px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}
/* line 518, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .sp__content {
  padding-top: 147px;
}
/* line 521, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 61px;
  font-weight: 700;
  line-height: 1;
  width: 148px;
  height: 88px;
  background: url("/frontend/web/images/new-index/sp__number-gold-lacquer.png") no-repeat;
  padding: 0 28px 20px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 538, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first {
  margin-bottom: 75px;
}
/* line 540, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__number {
  margin-bottom: 42px;
}
/* line 543, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__title {
  color: white;
  font-family: Intro;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 13px;
}
/* line 553, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__date {
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 3px;
}
/* line 560, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__name {
  color: white;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  margin-bottom: 34px;
}
/* line 568, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video {
  position: relative;
  margin-bottom: 39px;
}
/* line 571, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video .video-back {
  background-repeat: no-repeat;
}
/* line 573, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video .video-back img {
  max-width: 100%;
  opacity: 0;
}
/* line 578, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 585, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video video {
  width: 100%;
  height: 625px;
}
/* line 589, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__video #video1 {
  display: none;
}
/* line 593, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__see-tutor {
  text-align: center;
  font-size: 0;
}
/* line 596, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__see-tutor a {
  display: inline-block;
  color: #a48c68;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px dotted #a48c68;
}
/* line 605, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .first .first__see-tutor a:hover {
  text-decoration: none;
}
/* line 612, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .content-style {
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  color: white;
  font-family: "Intro";
  text-align: center;
  letter-spacing: 2.4px;
}
/* line 620, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .content-style .vk {
  display: inline-block;
  width: 47px;
  height: 30px;
  background: url("/frontend/web/images/new-index/sp__vk.png") top center no-repeat;
  position: relative;
  top: 14px;
}
/* line 628, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .content-style .insta {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/frontend/web/images/new-index/sp__insta.png") top center no-repeat;
  position: relative;
  top: 10px;
}
/* line 638, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .second {
  margin-bottom: 61px;
}
/* line 640, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .second .second__number {
  margin-bottom: 39px;
}
/* line 653, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .third {
  margin-bottom: 15px;
}
/* line 655, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .third .third__number {
  margin-bottom: 39px;
}
/* line 663, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .lp {
  text-align: center;
  margin-bottom: 47px;
}
/* line 666, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .lp a {
  display: block;
}
/* line 672, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #stage-popup .full-reg a {
  display: block;
  text-align: center;
  color: #a48c68;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
}
/* line 687, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front div#stage-popup.active + #overlay-stagepopup {
  display: block;
}
/* line 691, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front #overlay-stagepopup {
  display: none;
  top: 0;
  width: 100%;
}
/* line 697, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-front .screen-3 {
  min-height: initial;
}
/* line 708, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact {
  background: url('/frontend/web/images/feedback/sc__bg-1.png') left top no-repeat, url('/frontend/web/images/feedback/sc__bg-2.png') right top no-repeat;
}
/* line 710, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact > .sc__container {
  padding-top: 98px;
  padding-bottom: 100px;
}
@media all and (max-width: 1279px) {
  /* line 713, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.feedback .site-contact > .sc__container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* line 718, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact .sc__makeup {
  text-align: center;
  margin-bottom: 19px;
}
/* line 722, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact .sc__title {
  color: #dd1980;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
/* line 732, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact .sc__subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .9px;
  margin-bottom: 43px;
}
/* line 742, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact .sc__intro {
  color: #fff;
  font-family: Intro;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.4px;
}
/* line 752, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact h1.form-title {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 39px 0 48px 0;
}
/* line 764, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form input[type="text"] {
  width: 460px;
  height: 40px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #000;
}
/* line 771, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form input[type="text"]:focus {
  outline: 0;
}
/* line 775, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form textarea {
  width: 460px;
  height: 130px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #000;
  resize: none;
}
/* line 783, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form textarea:focus {
  outline: 0;
}
/* line 787, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form button[type="submit"] {
  background: none;
  padding: 0;
  border: 0;
}
/* line 791, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact form button[type="submit"]:focus {
  outline: 0;
}
/* line 798, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
/* line 804, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .form-group label {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 120px;
  padding: 7px 0 0 0;
}
/* line 813, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .form-group .help-block {
  width: 100%;
  text-align: center;
  margin: 0px 0 0 0;
}
/* line 819, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .form-group.has-error .help-block {
  margin: 10px 0 0 0;
}
/* line 824, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form button[type="submit"] {
  color: #c2954e;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 38px 0 0 0;
}
/* line 834, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 839, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row > *:nth-child(1) {
  width: 102px;
}
/* line 841, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row > *:nth-child(1) img {
  max-width: 100%;
}
/* line 845, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row > *:nth-child(2) {
  margin-left: 16px;
  width: 106px;
}
/* line 848, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row > *:nth-child(2) input[type="text"] {
  width: 100%;
}
/* line 852, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .field-contactform-verifycode .row > *:nth-child(3) {
  width: 354px;
  padding: 0 0 0 10px;
}
/* line 859, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .captcha-text {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
/* line 864, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact #contact-form .form-wrap {
  padding-right: 130px;
}
@media all and (max-width: 1279px) {
  /* line 866, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.feedback .site-contact #contact-form .form-wrap {
    padding-right: 0px;
  }
}
/* line 872, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.feedback .site-contact .required-fields {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.44;
  text-align: center;
  margin-top: 45px;
}
/* line 884, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.rules-block {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
/* line 889, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.rules-block a {
  color: white;
}
/* line 892, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.rules-block .gold-style {
  color: #a48c68;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 898, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.rules-block .text-block {
  margin-bottom: 35px;
}
/* line 900, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.rules-block .text-block p {
  margin: 0;
}
/* line 908, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region {
  background: url('/frontend/web/images/rules/rr__bg-1.png') left top no-repeat, url('/frontend/web/images/rules/rr__bg-2.png') right top no-repeat;
}
/* line 910, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region > .rr__container {
  padding-top: 98px;
  padding-bottom: 100px;
}
/* line 914, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region .rr__makeup {
  text-align: center;
  margin-bottom: 19px;
}
/* line 918, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region .rr__title {
  color: #dd1980;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
/* line 928, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region .rr__subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .9px;
  margin-bottom: 43px;
}
/* line 938, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region .rr__intro {
  color: #fff;
  font-family: Intro;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.4px;
}
/* line 948, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.rules .rules-region h1.rules-title {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 39px 0 48px 0;
}
/* line 965, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .screen-2 {
  margin: 0 0 54px 0!important;
  background: none;
  min-height: initial;
  padding-left: 30px;
  padding-right: 30px;
}
@media all and (max-width: 1279px) {
  /* line 971, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-video .screen-2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* line 975, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .screen-2 .product-union {
  display: none;
}
/* line 980, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .step-region {
  margin-top: 39px;
}
/* line 982, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .step-region .steps {
  height: 81px;
}
@media all and (max-width: 1279px) {
  /* line 984, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-video .step-region .steps {
    height: initial;
  }
}
/* line 990, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .full-rules {
  text-align: center;
  color: #a68c69;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 26px;
}
/* line 1000, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .full-rules a {
  color: #a68c69;
  text-decoration: none;
  border-bottom: 1px dotted #a68c69;
}
/* line 1004, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .full-rules a:hover {
  text-decoration: none;
}
/* line 1010, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .screen-3 {
  margin: 0!important;
  background: none;
  min-height: initial;
}
/* line 1017, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .video-screen .video-gallery {
  margin-top: 39px;
  margin-bottom: 14px;
}
/* line 1020, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .video-screen .video-gallery .vg__title {
  margin-bottom: 17px;
}
/* line 1025, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .video-screen .video-gallery .vg__union .vg__big-video video#video-main {
  display: none;
  width: 100%;
  height: 625px;
}
@media all and (max-width: 1279px) {
  /* line 1029, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-new-video .video-screen .video-gallery .vg__union .vg__big-video video#video-main {
    height: 303px;
  }
}
/* line 1035, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-new-video .video-screen .video-gallery .vg__union .vg__thumbnail-union .vg__thumbnails {
  min-width: 100%;
  justify-content: center;
}
/* line 1046, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#login-popup .bp__close {
  position: absolute;
  top: 34px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}
/* line 1053, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#login-popup .bp__content {
  padding-top: 152px;
}
/* line 1058, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#login-popup.active + #overlay-loginpopup {
  display: block;
}
/* line 1062, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first {
  margin-bottom: 78px;
  text-align: center;
}
/* line 1065, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .title-lg {
  color: white;
  font-family: "Intro";
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2.2px;
  padding: 0px 90px;
  margin: 0 0 68px 0;
}
/* line 1077, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-list .eauth-service-link {
  width: 86px;
  height: 86px;
  border: 1px solid rgba(244, 244, 244, 0.2);
  border-radius: 100%;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
}
/* line 1085, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-list .eauth-service-link:before {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-position: center center;
}
/* line 1093, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-list .eauth-service-link:after {
  content: none!important;
  display: none!important;
}
/* line 1101, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-service-id-facebook .eauth-service-link:before {
  background: url('/frontend/web/images/login/login__fb.png') center center no-repeat;
}
/* line 1109, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-service-id-vkontakte .eauth-service-link:before {
  background: url('/frontend/web/images/login/login__vk.png') center center no-repeat;
}
/* line 1115, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-service {
  margin: 18px 0px 0 0;
}
/* line 1117, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__first .eauth-service:not(:last-child) {
  margin-right: 47px;
}
/* line 1124, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second {
  text-align: center;
}
/* line 1128, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left {
  position: relative;
}
/* line 1130, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
/* line 1136, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left input[type="checkbox"] + label {
  position: relative;
  padding: 0 0 0 40px;
  height: 40px;
  cursor: pointer;
}
/* line 1142, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* line 1153, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left input[type="checkbox"] + label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 3px;
}
/* line 1163, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .left input[type="checkbox"]:checked + label:after {
  content: '';
}
/* line 1168, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .right {
  margin: 43px 0 0 0;
}
/* line 1170, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .right p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
/* line 1176, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.site-login__second form .form-group .right a {
  color: white;
}
/* line 1185, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen {
  position: relative;
  overflow: hidden;
}
/* line 1188, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .participate_bg-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1244px;
  background: url('/frontend/web/images/participate/participate_bg-top.png') no-repeat;
  background-size: cover;
}
/* line 1199, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .participate_bgr-test {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1253px;
  background: url('/frontend/web/images/participate/participate_bgr-test.png') no-repeat;
  background-size: cover;
}
/* line 1211, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .participate_bulbs {
  position: absolute;
  top: 1111px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 661px;
  background: url('/frontend/web/images/participate/participate_bgr_1.png') center top no-repeat;
  background-size: initial;
}
@media all and (max-width: 1279px) {
  /* line 1221, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .participate-screen .participate_bulbs {
    top: 1379px;
  }
}
/* line 1225, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .participate_glow-red {
  position: absolute;
  top: 909px;
  right: 0;
  /* width: 100%; */
  width: 642px;
  height: 1157px;
  background: url('/frontend/web/images/participate/participate_glow-red.png') no-repeat;
  background-size: cover;
}
/* line 1236, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen > .ps__container {
  position: relative;
  z-index: 1;
  padding-top: 98px;
  padding-left: 0;
  padding-right: 0;
}
/* line 1244, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ps__makeup {
  text-align: center;
  margin-bottom: 19px;
}
/* line 1248, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ps__title {
  color: #dd1980;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
/* line 1258, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ps__subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .9px;
  margin-bottom: 43px;
}
/* line 1268, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ps__intro {
  color: #fff;
  font-family: Intro;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.4px;
  margin-bottom: 47px;
}
/* line 1279, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .user {
  text-align: center;
  margin-bottom: 55px;
}
/* line 1282, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .user .user__name {
  color: white;
  font-family: "Intro";
  font-size: 49px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 53px;
}
/* line 1292, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .user .user__img img {
  max-width: 100%;
}
/* line 1298, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .step-region {
  padding: 0 0 0 27px;
  margin-bottom: 48px;
}
/* line 1301, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .step-region .steps {
  height: 81px;
}
@media all and (max-width: 1279px) {
  /* line 1303, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .participate-screen .step-region .steps {
    height: initial;
  }
}
/* line 1309, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo {
  margin-bottom: 35px;
}
/* line 1311, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__title {
  color: white;
  font-family: "Intro";
  font-size: 49px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 57px;
  text-align: center;
  margin-bottom: 76px;
}
@media all and (max-width: 1279px) {
  /* line 1321, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  .participate-screen .upload-makeup-photo .ump__title {
    padding: 0;
  }
}
/* line 1325, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__img {
  position: relative;
  margin: 0 auto 32px auto;
  width: 280px;
  height: 280px;
  background-color: #040208;
  border: 1px solid #869dba;
  box-shadow: 0 0 81px rgba(252, 223, 181, 0.25);
}
/* line 1333, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__img img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
}
/* line 1339, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__img .upload-lbl {
  color: white;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 1350, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls {
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
/* line 1356, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls > * {
  width: 49px;
  height: 49px;
  border: 1px solid #3e3e3e;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 1362, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls > *:not(:last-child) {
  margin-right: 1px;
}
/* line 1366, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: -9999px;
}
/* line 1373, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls .btn__upload {
  background-image: url('/frontend/web/images/participate/icon__upload.png');
}
/* line 1376, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls .btn__repeat {
  background-image: url('/frontend/web/images/participate/icon__repeat.png');
  margin-left: auto;
}
/* line 1380, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .upload-makeup-photo .ump__controls .btn__edit {
  background-image: url('/frontend/web/images/participate/icon__edit.png');
}
/* line 1387, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .full-rules {
  text-align: center;
  color: #a68c69;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 26px;
}
/* line 1397, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .full-rules a {
  color: #a68c69;
  text-decoration: none;
  border-bottom: 1px dotted #a68c69;
}
/* line 1401, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .full-rules a:hover {
  text-decoration: none;
}
/* line 1406, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .style-comics {
  text-align: center;
  color: #a68c69;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 43px;
}
/* line 1416, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .style-comics a {
  color: #a68c69;
  text-decoration: none;
  border-bottom: 1px dotted #a68c69;
}
/* line 1420, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .style-comics a:hover {
  text-decoration: none;
}
/* line 1426, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ready {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 421px;
  height: 322px;
  background-image: url('/frontend/web/images/participate/ready.png');
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}
/* line 1436, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ready:hover {
  background-image: url('/frontend/web/images/participate/ready_hover.png');
}
/* line 1439, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .ready a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: 2.3px -2px 3px rgba(0, 0, 0, 0.64);
  color: #fff;
  font-family: Intro;
  font-size: 0;
  text-indent: -9999px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 1454, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .title-gallery {
  color: white;
  font-family: "Intro";
  font-size: 49px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 58px 0;
}
/* line 1465, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.participate-screen .gallery-his-turn {
  margin-top: -54px;
}
/* line 1471, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup {
  display: none;
  background-color: #040208;
  box-shadow: 0 0 81px rgba(252, 223, 181, 0.22);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1110px;
  height: 100vh;
  z-index: 5;
}
/* line 1483, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup.active {
  display: block;
}
/* line 1486, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup .rp__close {
  position: absolute;
  top: 44px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}
/* line 1493, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup .rp__content {
  padding: 147px 35px 35px 35px;
}
/* line 1495, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup .rp__content .rules-block {
  overflow-y: auto;
  height: calc(100vh - 182px);
}
/* line 1502, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#rules-popup.active + #overlay-rulespopup {
  display: block;
}
/* line 1506, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspVerticalBar {
  width: 3px;
  background: none;
}
/* line 1509, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspVerticalBar .jspTrack {
  background: #e8e8e8;
  width: 1px;
}
/* line 1512, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspVerticalBar .jspTrack .jspDrag {
  background: #a48c68;
  width: 3px;
  left: -1px;
}
/* line 1520, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar {
  height: 24px;
}
/* line 1522, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar .jspTrack {
  height: 8px;
  margin-top: 8px;
}
/* line 1525, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar .jspTrack .jspDrag {
  height: 24px;
  top: -8px;
}
/* line 1530, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar .jspArrow {
  height: 24px;
}
/* line 1533, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar .jspArrowLeft {
  background-position: right 36px center;
}
/* line 1536, http://lorealparis.friday.ru/frontend/web/css/styles.less */
.jspHorizontalBar .jspArrowRight {
  background-position: left 36px center;
}
/* line 1542, http://lorealparis.friday.ru/frontend/web/css/styles.less */
#header #main-menu {
  padding: 74px 0 74px 0;
  height: initial;
  min-height: 416px;
}
@media all and (min-width: 1280px) {
  /* line 1552, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-video .video-screen .vs__subtitle {
    margin-bottom: 115px;
  }
}
@media all and (min-width: 1280px) {
  /* line 1557, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-video .video-screen .video-gallery {
    margin-top: 115px;
  }
}
/* line 1562, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-video .video-screen .go-participate {
  position: relative;
  text-align: center;
  margin: 0px auto 0px auto;
  width: 400px;
  height: 306px;
  background: url('/frontend/web/images/new-index/particip_large.png') top center no-repeat;
  transition: all 0.3s linear;
}
/* line 1570, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-video .video-screen .go-participate:hover {
  background: url('/frontend/web/images/new-index/particip_large_hover.png') top center no-repeat;
}
/* line 1573, http://lorealparis.friday.ru/frontend/web/css/styles.less */
body.page-video .video-screen .go-participate a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: 2.3px -2px 3px rgba(0, 0, 0, 0.64);
  color: #fff;
  font-family: Intro;
  font-size: 0;
  text-indent: -9999px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media all and (max-width: 1279px) {
  /* line 1586, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-video .video-screen .go-participate {
    width: 271px;
    height: 184px;
    background: url('/frontend/web/images/new-index/mobile/participate.png') top center no-repeat;
  }
  /* line 1590, http://lorealparis.friday.ru/frontend/web/css/styles.less */
  body.page-video .video-screen .go-participate:hover {
    background: url('/frontend/web/images/new-index/mobile/participate_hover.png') top center no-repeat;
  }
}