.gallery-his-turn{
	@media all and (max-width: 1279px) {
		padding-top: 20px;
	}
	.ght__title{
		font-weight: 400;
		color: white;
		font-family: "Intro";
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1.8px;
		margin-bottom: 8px;
	}
	.ght__subtitle{
		font-weight: 400;
		color: #a48c68;
		font-family: "Open Sans";
		font-size: 18px;
		text-align: center;
		letter-spacing: 0.9px;
	}

	.wfs-title,
	.pfs-title{
		color: white;
		font-family: "Open Sans";
		font-size: 30px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		text-align: center;
	}
	
	.wfs-title{
		margin-top: 57px;
	}
	
	.pfs-title{

	}

	.view-voting{
		margin-top: 42px;
		margin-bottom: 49px;
		.view-filter{
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 30px;
			margin-bottom: 48px;
			.sorting{
				display: flex;
				flex-direction: row;
				.sort-param{
					margin-right: 26px;
					a{
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						color: #a68c69;
						font-size: 14px;
						font-weight: 700;
						line-height: 1;
						width: 149px;
						height: 46px;
						border: 1px solid rgba(250,250,250,.1);
						letter-spacing: 0.6px;
						&:hover{
							background-color: #040404;
							border: 1px solid #3e3e3e;
							box-shadow: 0 0 49px rgba(252, 223, 181, 0.2);
						}
					}
					&.active,
					&:hover{
						a{
							background-color: #040404;
							border: 1px solid #3e3e3e;
							box-shadow: 0 0 49px rgba(252, 223, 181, 0.2);
						}
					}
				}
			}
			.upload-file{
				padding-left: 22px;
				padding-bottom: 5px;
				form{
					#main-upload,
					input[type="submit"]{
						display: none;
					}
					label{
						color: #a68c69;
						font-size: 14px;
						font-weight: 700;
						line-height: 1;
						text-transform: uppercase;
						text-decoration: underline;
						cursor: pointer;
						letter-spacing: 0.62px;
					}
				}
			}
		}

		.view-content{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 32px;
			.view-row{
				width: 253px;
				position: relative;
				text-align: center;
				margin-bottom: 75px;
				.field-points-label{
					position: absolute;
					top: -1px;
					left: -12px;
					background: url('/frontend/web/images/new-index/ghs__point-label.png') no-repeat;
					width: 98px;
					height: 79px;
					color: white;
					font-size: 16px;
					font-weight: 700;
					line-height: 1;
					text-transform: uppercase;
					padding: 17px 0 0 19px;
					letter-spacing: 2.9px;
				}
				.field-image{
					margin-bottom: 25px;
					img{

					}
				}
				.field-name{
					font-size: 16px;
					color: white;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 1.875;
					letter-spacing: 1.2px;
				}
				.field-points{
					color: #a68b6d;
					font-weight: 300;
					font-size: 16px;
					line-height: 1.875;
					letter-spacing: 1.1px;
				}
				.field-shape{
					color: white;
					font-weight: 300;
					font-size: 16px;
					line-height: 1.875;
					letter-spacing: 0.7px;
					margin-bottom: 5px;
				}
				.field-vote{
					a{
						color: #a68b6d;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 16px;
						line-height: 1;
						text-decoration: none;
						border-bottom: 1px dotted #a68b6d;
						letter-spacing: 0.9px;
						cursor: pointer;
					}
				}
			}
		}
		
		&.view-wfs{
			.view-content{
				justify-content: center;
				.view-row{
					&:not(:last-child):not(:nth-child(4n+4)){
						margin-right: 29px;
					}
				}
			}
		}

	}

	.see-all{
		text-align: center;
		width: 278px;
		height: 189px;
		background: url('/frontend/web/images/see-all-081db1e550.png') top no-repeat;
		position: relative;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		a{
			display: block;
			width: 100%;
			height: 100%;
			text-shadow: 2.3px -2px 3px rgba(0,0,0,.64);
			color: #fff;
			font-family: Intro;
			font-size: 0;
			text-indent: -9999px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&:hover{
			background: url(/frontend/web/images/see-all-081db1e550_hover.png) top no-repeat;
		}
	}

}

.step-region{
	background-color: black;
	position: relative;
	@media all and (max-width: 1279px) {
		margin-top: 7px;
		background-color: transparent;
	}
	> .sr__container{
		min-height: 81px;
		padding-right: 0px;
		@media all and (min-width: 1280px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		@media all and (max-width: 1279px) {
			height: initial;
			min-height:initial;
		}
	}
	.steps{
		display: flex;
		flex-direction: row;
		height: 100%;
		@media all and (max-width: 1279px) {
			flex-direction: column;
		}
		.step{
			display: flex;
			flex-direction: row;
			align-items: center;
			width: calc(100% / 3);
			@media all and (max-width: 1279px) {
				width: 100%;
				&:not(:last-child){
					margin-bottom: 52px;
				}
			}
			.s-number{
				color: black;
				font-size: 30px;
				font-weight: 700;
				line-height: 1.34;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background: url("/frontend/web/images/new-index/gold-lacquer.png") no-repeat;
				width: 72px;
				min-width: 72px;
				height: 43px;
				padding: 0 15px 9px 0;
				margin: 0 11px 0 0;
			}
			.s-body{
				color: white;
				font-family: "Open Sans";
				font-size: 15px;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 0.7px;
				line-height: 1.35;
				@media all and (min-width: 1280px) {
					width: calc(100% - 83px);
				}
				a{
					color: #a68c69;
					text-decoration: underline;
				}
			}
			.vk{
				display: inline-block;
				width: 22px;
				height: 14px;
				background: url("/frontend/web/images/new-index/vk.png") top center no-repeat;
				position: relative;
				top: 5px;
			}
			.insta{
				display: inline-block;
				width: 15px;
				height: 15px;
				background: url("/frontend/web/images/new-index/insta.png") top center no-repeat;
				position: relative;
				top: 3px;
				margin-left: 2px;
			}
		}
	}
}

body.page-new-front{
	
	.screen-1{
		@media all and (max-width: 1279px) {
			padding-bottom: 10px;
		}
		> .s1__container{
			min-height: 769px;
		}
		
		.s1__bg-woman{
			@media all and (min-width: 1280px) {
				bottom: -97px;
				left: 31px;
			}
			@media all and (max-width: 1279px) {
				bottom: auto;
				top: 396px;
			}
		}

		.s1__two-col{
			margin-top: 42px;
			.s1__tc-1{
				@media all and (max-width: 1279px) {
					margin-top: 37px;
				}
				.tc1-block1{
					a{
						background: url("/frontend/web/images/new-index/tc1-block1.png") center top no-repeat;
						width: 292px;
						height: 115px;
					}
				} 
				.tc1-block2{
					@media all and (min-width: 1280px) {
						margin-top: -12px;
						left: -25px;
					}
				}
			} 

			.s1__tc-2{
				@media all and (max-width: 1279px) {
					margin-top: 17px;
				}
				.tc2-block1{
					margin-right: 1px;
					a{
						background: url("/frontend/web/images/new-index/tc2-block1.png") center top no-repeat;
						width: 287px;
						height: 170px;
						@media all and (max-width: 1279px) {
							background: url("/frontend/web/images/new-index/mobile/tc2-block1.png") center top no-repeat;
							width: 226px;
							height: 200px;
						}
					}
				} 
				.go-participate{
					position: relative;
					text-align: center;
					margin-top: -9px;
					left: 75px;
					width: 400px;
					height: 306px;
					background: url("/frontend/web/images/new-index/particip_large.png") top center no-repeat;
					transition: all 0.3s linear;
					&:hover{
						background: url("/frontend/web/images/new-index/particip_large_hover.png") top center no-repeat;
					}
					@media all and (max-width: 1279px) {
						width: 271px;
						height: 184px;
						margin-top: -4px;
						left: -24px;
						background: url("/frontend/web/images/new-index/mobile/participate.png") top center no-repeat;
						&:hover{
							background: url("/frontend/web/images/new-index/mobile/participate_hover.png") top center no-repeat;
						}
					}
					a{
						display: block;
					    width: 100%;
					    height: 100%;
					    text-shadow: 2.3px -2px 3px rgba(0,0,0,.64);
					    color: #fff;
					    font-family: Intro;
					    font-size: 0;
					    text-indent: -9999px;
					    font-weight: 400;
					    text-transform: uppercase;
					    letter-spacing: 2px;
					}
				}
			} 

		} 

	}

	.stage{
		padding: 55px 0 0 0;
		> .st__container{

		}
		.st__title{
			font-weight: 400;
			color: white;
			font-family: "Intro";
			font-size: 48px;
			text-align: center;
			letter-spacing: 2px;
			margin-bottom: 7px;
			line-height: 1;
		}
		.st__subtitle{
			font-weight: 400;
			color: #a48c68;
			font-size: 24px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 1.2px;
			margin-bottom: 7px;
		}
		.st__extra-price{
			display: block;
			font-weight: 400;
			color: #a48c68;
			font-size: 15px;
			text-align: center;
			letter-spacing: 0.8px;
			margin-bottom: 16px;
		}
		.st__full-reg{
			margin-bottom: 54px;
			a{
				display: block;
				font-weight: 400;
				color: #a48c68;
				font-size: 15px;
				text-decoration: underline;
				text-align: center;
				letter-spacing: 0.8px;
			}
		}
		.st__blocks{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 32px;
			@media all and (max-width: 1279px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
			}
			.st__block{
				width: 542px;
				position: relative;
				@media all and (max-width: 1279px) {
					margin-bottom: 53px;
				}
				.stb-img{
					background-repeat: no-repeat;
					background-position: center top;
					img{
						opacity: 0;
						max-width: 100%;
					}
				}
				.stb-play{
					position: absolute;
					left: 48px;
					bottom: 140px;
					cursor: pointer;
				}
				.stb-tit-wrap{
					position: absolute;
					left: 51px;
					bottom: 50px;
				}
				.stb-title{
					color: white;
					font-weight: 400;
					font-size: 15px;
				}
				.stb-subtitle{
					color: white;
					font-weight: 400;
					font-size: 24px;
					margin-top: -2px;
				}
			}
		}

		.st__see-all-tutor{
			a{
				display: block;
				color: #a48c68;
				font-size: 20px;
				font-weight: 400;
				line-height: 1;
				text-transform: uppercase;
				text-align: center;
				text-decoration: underline;
				letter-spacing: 3px;
			}
		}

	}
	
	.screen-2{
		margin-top: 0px;
		@media all and (min-width: 1280px) {
			background: url('/frontend/web/images/new-index/s2-bg.png') bottom 69px center / 100% 299px no-repeat;
		}
		.s2__zasvet{
			display: none;
		}
		> .s2__container{
			padding-top: 115px;
		}
	}
	
	#stage-popup{
		display: none;
		background-color: #040208;
		box-shadow: 0 0 81px rgba(252, 223, 181, 0.22);
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1110px;
		min-height: 1895px;
		z-index: 5;
		&.active{
			display: block;
		}
		.sp__close{
			position: absolute;
			top: 44px;
			right: 50%;
			transform: translateX(50%);
			cursor: pointer;
		}
		.sp__content{
			padding-top: 147px;
		}
		.number{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			color: black;
			font-size: 61px;
			font-weight: 700;
			line-height: 1;
			width: 148px;
			height: 88px;
			background: url("/frontend/web/images/new-index/sp__number-gold-lacquer.png") no-repeat;
			padding: 0 28px 20px 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.first{
			margin-bottom: 75px;
			.first__number{
				margin-bottom: 42px;
			}
			.first__title{
				color: white;
				font-family: Intro;
				font-size: 48px;
				font-weight: 400;
				line-height: 50px;
				text-align: center;
				letter-spacing: 2px;
				margin-bottom: 13px;
			}
			.first__date{
				color: white;
				font-weight: 400;
				font-size: 15px;
				text-align: center;
				margin-bottom: 3px;
			}
			.first__name{
				color: white;
				font-weight: 400;
				font-size: 24px;
				text-align: center;
				line-height: 1;
				margin-bottom: 34px;
			}
			.first__video{
				position: relative;
				margin-bottom: 39px;
				.video-back{
					background-repeat: no-repeat;
					img{
						max-width: 100%;
						opacity: 0;
					}
				}
				.video-play{
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%,-50%);
					cursor: pointer;
				}
				video{
					width: 100%;
					height: 625px;
				}
				#video1{
					display: none;
				}
			}
			.first__see-tutor{
				text-align: center;
				font-size: 0;
				a{
					display: inline-block;
					color: #a48c68;
					font-size: 20px;
					font-weight: 400;
					line-height: 1;
					text-transform: uppercase;
					letter-spacing: 3px;
					border-bottom: 1px dotted #a48c68;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}

		.content-style{
			font-size: 48px;
			font-weight: 400;
			line-height: 50px;
			color: white;
			font-family: "Intro";
			text-align: center;
			letter-spacing: 2.4px;
			.vk{
				display: inline-block;
				width: 47px;
				height: 30px;
				background: url("/frontend/web/images/new-index/sp__vk.png") top center no-repeat;
				position: relative;
				top: 14px;
			}
			.insta{
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url("/frontend/web/images/new-index/sp__insta.png") top center no-repeat;
				position: relative;
				top: 10px;
			}
		}

		.second{
			margin-bottom: 61px;
			.second__number{
				margin-bottom: 39px;
			}
			.second__content{
				.vk{

				}
				.insta{

				}
			}
		}

		.third{
			margin-bottom: 15px;
			.third__number{
				margin-bottom: 39px;
			}
			.third_content{

			}
		}

		.lp{
			text-align: center;
			margin-bottom: 47px;
			a{
				display: block;
			}
		}

		.full-reg{
			a{
				display: block;
				text-align: center;
				color: #a48c68;
				font-size: 20px;
				font-weight: 400;
				line-height: 1;
				text-transform: uppercase;
				text-decoration: underline;
				letter-spacing: 3px;
			}
		}

	}

	div#stage-popup.active + #overlay-stagepopup{
		display: block;
	}

	#overlay-stagepopup{
	    display: none;
	    top: 0;
	    width: 100%;
	}
	
	.screen-3{
		min-height: initial;
	}

}

@media all and (max-width: 1279px) {
	
}

body.feedback{
	.site-contact{
		background: url('/frontend/web/images/feedback/sc__bg-1.png') left top no-repeat, url('/frontend/web/images/feedback/sc__bg-2.png') right top no-repeat;
		> .sc__container{
			padding-top: 98px;
			padding-bottom: 100px;
			@media all and (max-width: 1279px) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		.sc__makeup{
			text-align: center;
			margin-bottom: 19px;
		}
		.sc__title{
			color: #dd1980;
			font-family: Intro;
			font-size: 36px;
			font-weight: 400;
			line-height: 1;
			text-align: center;
			letter-spacing: 2px;
			margin-bottom: 8px;
		}
		.sc__subtitle{
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: .9px;
			margin-bottom: 43px;
		}
		.sc__intro{
			color: #fff;
			font-family: Intro;
			font-size: 28px;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
			letter-spacing: 1.4px;
		}

		h1.form-title{
			color: white;
			font-size: 36px;
			font-weight: 400;
			line-height: 1.12;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 2px;
			margin: 39px 0 48px 0;
		}

		form{
			input[type="text"]{
				width: 460px;
				height: 40px;
				background-color: white;
				border:1px solid #cccccc;
				border-radius: 5px;
				color: #000;
				&:focus{
					outline: 0;
				}
			}
			textarea{
				width: 460px;
				height: 130px;
				background-color: white;
				border:1px solid #cccccc;
				border-radius: 5px;
				color: #000;
				resize: none;
				&:focus{
					outline: 0;
				}
			}
			button[type="submit"]{
				background: none;
				padding: 0;
				border: 0;
				&:focus{
					outline: 0;
				}
			}
		}

		#contact-form{
			.form-group{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 10px;
				label{
					color: white;
					font-size: 14px;
					font-weight: 300;
					line-height: 1;
					width: 120px;
					padding: 7px 0 0 0;
				}

				.help-block{
					width: 100%;
					text-align: center;
					margin: 0px 0 0 0;
				}
				&.has-error{
					.help-block{
						margin: 10px 0 0 0;
					}
				}
			}
			button[type="submit"]{
				color: #c2954e;
				font-size: 18px;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: 38px 0 0 0;
			}
			.field-contactform-verifycode{
				.row{
					display: flex;
					flex-direction: row;
					align-items: center;
					> *{
						&:nth-child(1){
							width: 102px;
							img{
								max-width: 100%;
							}
						}
						&:nth-child(2){
							margin-left: 16px;
							width: 106px;
							input[type="text"]{
								width: 100%;
							}
						}
						&:nth-child(3){
							width: 354px;
							padding: 0 0 0 10px;
						}
					}
				}
			}
			.captcha-text{
				color: white;
				font-size: 14px;
				font-weight: 300;
			}
			.form-wrap{
				padding-right: 130px;
				@media all and (max-width: 1279px) {
					padding-right: 0px;
				}
			}
		}

		.required-fields{
			color: white;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.44;
			text-align: center;
			margin-top: 45px;
		}

	}
}

.rules-block{
	color: white;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	a{
		color: white;
	}
	.gold-style{
		color: #a48c68;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.text-block{
		margin-bottom: 35px;
		p{
			margin:0;
		}
	}
}

body.rules{

	.rules-region{
		background: url('/frontend/web/images/rules/rr__bg-1.png') left top no-repeat, url('/frontend/web/images/rules/rr__bg-2.png') right top no-repeat;
		> .rr__container{
			padding-top: 98px;
			padding-bottom: 100px;
		}
		.rr__makeup{
			text-align: center;
			margin-bottom: 19px;
		}
		.rr__title{
			color: #dd1980;
			font-family: Intro;
			font-size: 36px;
			font-weight: 400;
			line-height: 1;
			text-align: center;
			letter-spacing: 2px;
			margin-bottom: 8px;
		}
		.rr__subtitle{
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: .9px;
			margin-bottom: 43px;
		}
		.rr__intro{
			color: #fff;
			font-family: Intro;
			font-size: 28px;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
			letter-spacing: 1.4px;
		}

		h1.rules-title{
			color: white;
			font-size: 36px;
			font-weight: 400;
			line-height: 1.12;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 2px;
			margin: 39px 0 48px 0;
		}

	}

}

body.page-new-video{

	.screen-2{
		margin: 0 0 54px 0!important;
		background: none;
		min-height: initial;
		padding-left: 30px;
		padding-right: 30px;
		@media all and (max-width: 1279px) {
			padding-left: 0px;
			padding-right: 0px;
		}
		.product-union{
			display: none;
		}
	}
	
	.step-region{
		margin-top: 39px;
		.steps{
			height: 81px;
			@media all and (max-width: 1279px) {
				height: initial;
			}
		}
	}

	.full-rules{
		text-align: center;
		color: #a68c69;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 26px;
		a{
			color: #a68c69;
			text-decoration: none;
			border-bottom: 1px dotted #a68c69;
			&:hover{
				text-decoration: none;
			}
		}
	}

	.screen-3{
		margin: 0!important;
		background: none;
		min-height: initial;
	}
	
	.video-screen{
		.video-gallery{
			margin-top: 39px;
			margin-bottom: 14px;
			.vg__title{
				margin-bottom: 7px;
			}
			.vg__extra-price{
				display: block;
			    font-weight: 400;
			    color: #a48c68;
			    font-size: 15px;
			    text-align: center;
			    letter-spacing: 0.8px;
			    margin-bottom: 16px;
			}
			.vg__union{
				.vg__big-video{
					video#video-main{
						display: none;
						width: 100%;
						height: 625px;
						@media all and (max-width: 1279px) {
							height: 303px;
						}
					}
				}
				.vg__thumbnail-union{
					.vg__thumbnails{
						min-width: 100%!important;
						justify-content: center;
					}
				}
			} 
		} 
	} 
}

#login-popup{
	.bp__close{
		position: absolute;
		top: 34px;
		right: 50%;
		transform: translateX(50%);
		cursor: pointer;
	}
	.bp__content{
		padding-top: 152px;
	}
}

#login-popup.active + #overlay-loginpopup{
	display: block;
}

.site-login__first{
	margin-bottom: 78px;
	text-align: center;
	.title-lg{
		color: white;
		font-family: "Intro";
		font-size: 48px;
		font-weight: 400;
		line-height: 50px;
		letter-spacing: 2.2px;
		padding: 0px 90px;
		margin: 0 0 68px 0;
	}

	.eauth-list{
		.eauth-service-link{
			width: 86px;
			height: 86px;
			border: 1px solid rgba(244,244,244,.2);
			border-radius: 100%;
			padding: 0;
			font-size: 0;
			text-indent: -9999px;
			&:before{
				width: 100%;
				height: 100%;
				margin: 0;
				top: 0;
				left: 0;
				background-position: center center;
			}
			&:after{
				content: none!important;
				display: none!important;
			}
		}
	}
	.eauth-service-id-facebook{
		.eauth-service-link{
			&:before{
				background: url('/frontend/web/images/login/login__fb.png') center center no-repeat;
			}
		}
	} 

	.eauth-service-id-vkontakte{
		.eauth-service-link{
			&:before{
				background: url('/frontend/web/images/login/login__vk.png') center center no-repeat;
			}
		}
	} 

	.eauth-service{
		margin: 18px 0px 0 0;
		&:not(:last-child){
			margin-right: 47px;
		}
	}

}

.site-login__second{
	text-align: center;
	form{
		.form-group{
			.left{
				position: relative;
				input[type="checkbox"] {
				  position: absolute;
				  z-index: -1;
				  opacity: 0;
				  margin: 10px 0 0 20px;
				}
				input[type="checkbox"] + label {
				  position: relative;
				  padding: 0 0 0 40px;
				  height: 40px;
				  cursor: pointer;
				}
				input[type="checkbox"] + label:before {
				  content: '';
				  position: absolute;
				  top: 0px;
				  left: 0;
				  width: 40px;
				  height: 40px;
				  background-color: white;
				  border: 1px solid #ccc;
				  border-radius: 3px;
				}
				input[type="checkbox"] + label:after {
				  position: absolute;
				  top: 6px;
			      left: 8px;
			      width: 26px;
			      height: 26px;
				  //background-color: black;
				  border-radius: 3px;
				  background: url('/frontend/web/images/check-mark.png') center top / 100% 100% no-repeat;
				}

				input[type="checkbox"]:checked + label:after {
				  content: '';
				}

			}
			.right{
				margin: 43px 0 0 0;
				p{
					color: white;
					font-size: 18px;
					font-weight: 300;
					margin: 0 0 10px 0;
				}
				a{
					color: white;
				}
			}
		}
	}

}

.participate-screen{
	position: relative;
	overflow: hidden;
	.participate_bg-top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 1244px;
		background: url('/frontend/web/images/participate/participate_bg-top.png') no-repeat;
		background-size: cover;
	}
	.participate_bgr-test{
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 1253px;
		background: url('/frontend/web/images/participate/participate_bgr-test.png') no-repeat;
		background-size: cover;
	}
	.participate_bulbs{
		position: absolute;
		top: 1111px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 661px;
		background: url('/frontend/web/images/participate/participate_bgr_1.png') center top no-repeat;
		background-size: initial;
		@media all and (max-width: 1279px) {
			top: 1379px;
		}
	}
	.participate_glow-red{
		position: absolute;
	    top: 909px;
	    right: 0;
	    /* width: 100%; */
	    width: 642px;
	    height: 1157px;
	    background: url('/frontend/web/images/participate/participate_glow-red.png') no-repeat;
	    background-size: cover;
	}

	> .ps__container{
		position: relative;
		z-index: 1;
		padding-top: 98px;
		padding-left: 0;
		padding-right: 0;
	}

	.ps__makeup{
		text-align: center;
		margin-bottom: 19px;
	}
	.ps__title{
		color: #dd1980;
		font-family: Intro;
		font-size: 36px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 8px;
	}
	.ps__subtitle{
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: .9px;
		margin-bottom: 43px;
	}
	.ps__intro{
		color: #fff;
		font-family: Intro;
		font-size: 28px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		letter-spacing: 1.4px;
		margin-bottom: 47px;
	}
	
	.user{
		text-align: center;
		margin-bottom: 55px;
		.user__name{
			color: white;
			font-family: "Intro";
			font-size: 49px;
			font-weight: 400;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 53px;
		}
		.user__img{
			img{
				max-width: 100%;
			}
		}
	}

	.step-region{
		padding: 0 0 0 27px;
		margin-bottom: 48px;
		.steps{
			height: 81px;
			@media all and (max-width: 1279px) {
				height: initial;
			}
		}
	}
	
	.upload-makeup-photo{
		margin-bottom: 35px;
		.ump__title{
			color: white;
			font-family: "Intro";
			font-size: 49px;
			font-weight: 400;
			line-height: 1;
			text-transform: uppercase;
			padding: 0 57px;
			text-align: center;
			margin-bottom: 76px;
			@media all and (max-width: 1279px) {
				padding: 0;
			}
		}
		.ump__img{
			position: relative;
			margin: 0 auto 32px auto;
			width: 280px;
			height: 280px;
			background-color: #040208;
			border: 1px solid #869dba;
			box-shadow: 0 0 81px rgba(252, 223, 181, 0.25);
			img{
				max-width: 100%;
				max-height: 100%;
				position: relative;
				z-index: 2;
			}
			.upload-lbl{
				color: white;
				font-size: 18px;
				font-weight: 300;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 1;
			}
		}
		.ump__controls{
			display: flex;
			flex-direction: row;
			width: 280px;
			margin-left: auto;
			margin-right: auto;
			> *{
				width: 49px;
				height: 49px;
				border: 1px solid #3e3e3e;
				background-repeat: no-repeat;
				background-position: center center;
				&:not(:last-child){
					margin-right: 1px;
				}
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				font-size: 0;
				text-indent: -9999px;
			}
			.btn__upload{
				background-image: url('/frontend/web/images/participate/icon__upload.png');
			}
			.btn__repeat{
				background-image: url('/frontend/web/images/participate/icon__repeat.png');
				margin-left: auto;
			}
			.btn__edit{
				background-image: url('/frontend/web/images/participate/icon__edit.png');
			}
		}
		
	}

	.full-rules{
		text-align: center;
		color: #a68c69;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 26px;
		a{
			color: #a68c69;
			text-decoration: none;
			border-bottom: 1px dotted #a68c69;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.style-comics{
		text-align: center;
		color: #a68c69;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 43px;
		a{
			color: #a68c69;
			text-decoration: none;
			border-bottom: 1px dotted #a68c69;
			&:hover{
				text-decoration: none;
			}
		}
	}

	.ready{
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 421px;
	    height: 322px;
	    background-image: url('/frontend/web/images/participate/ready.png');
	    background-repeat: no-repeat;
	    transition: all 0.3s linear;
	    &:hover{
	    	background-image: url('/frontend/web/images/participate/ready_hover.png');
	    }
		a{
			display: block;
		    width: 100%;
		    height: 100%;
		    text-shadow: 2.3px -2px 3px rgba(0,0,0,.64);
		    color: #fff;
		    font-family: Intro;
		    font-size: 0;
		    text-indent: -9999px;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		}
	}

	.title-gallery{
		color: white;
		font-family: "Intro";
		font-size: 49px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 58px 0;
	}

	.gallery-his-turn{
		margin-top: -54px;
	}

}

#rules-popup{
	display: none;
	background-color: #040208;
	box-shadow: 0 0 81px rgba(252, 223, 181, 0.22);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1110px;
	height: 100vh;
	z-index: 5;
	&.active{
		display: block;
	}
	.rp__close{
		position: absolute;
		top: 44px;
		right: 50%;
		transform: translateX(50%);
		cursor: pointer;
	}
	.rp__content{
		padding: 147px 35px 35px 35px;
		.rules-block{
			overflow-y:auto;
			height: calc(100vh - 182px);
		}
	}
}

#rules-popup.active + #overlay-rulespopup{
	display: block;
}

.jspVerticalBar{
	width: 3px;
	background: none;
	.jspTrack{
		background: #e8e8e8;
		width: 1px;
		.jspDrag{
			background: #a48c68;
		    width: 3px;
		    left: -1px;
		}
	}
}

.jspHorizontalBar{
	height: 24px;
	.jspTrack{
		height: 8px;
		margin-top: 8px;
		.jspDrag{
			height: 24px;
			top: -8px;
		}
	}
	.jspArrow{
		height: 24px;
	}
	.jspArrowLeft{
		background-position: right 36px center;
	}
	.jspArrowRight{
		background-position: left 36px center;
	}
}

#header{
	#main-menu{
		padding: 74px 0 74px 0;
		height: initial;
		min-height: 416px;
	}
}

body.page-video{
	.video-screen{
		.vs__subtitle{
			@media all and (min-width: 1280px) {
				margin-bottom: 115px;
			}
		}
		.video-gallery{
			@media all and (min-width: 1280px) {
				margin-top: 115px;
			}
		}

		.go-participate{
			position: relative;
			text-align: center;
			margin: 0px auto 0px auto;
			width: 400px;
			height: 306px;
			background: url('/frontend/web/images/new-index/particip_large.png') top center no-repeat;
			transition: all 0.3s linear;
			&:hover{
				background: url('/frontend/web/images/new-index/particip_large_hover.png') top center no-repeat;
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				text-shadow: 2.3px -2px 3px rgba(0, 0, 0, 0.64);
				color: #fff;
				font-family: Intro;
				font-size: 0;
				text-indent: -9999px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			@media all and (max-width: 1279px) {
				width: 271px;
				height: 184px;
				background: url('/frontend/web/images/new-index/mobile/participate.png') top center no-repeat;
				&:hover{
					background: url('/frontend/web/images/new-index/mobile/participate_hover.png') top center no-repeat;
				}
			}
		}

	} 
} 


#header{
	.h__riv-gosh{
		margin-top: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 57px;
		@media all and (max-width: 1279px) {
			right: -28px;
		}
	}
	.h__lp{
		right: 217px;
		@media all and (max-width: 1279px) {
			margin-top: 0px;
			right: 134px;
		}
		img{
			width: 101px;
			height: 28px;
		}
	}
	.h__burger{
		@media all and (max-width: 1279px) {
			position: relative;
		    left: -28px;
		    top: -6px;
		}
	}
}